<div class="fullscreen-container"  >
    <div class="chat-wrapper" >
        <div class="chat-header">
            <div class="user-avatar">
                <img src="assets/img.png" alt="User Avatar" />
            </div>
            <span class="user-name">Chatbot</span>
            <button class="chat-close-btn" (click)="closeChat()">&#10006;</button>
        </div>
 
        <div class="chat-content p-scrollPanel" #chatContent>
            <div *ngFor="let msg of messages" class="message"
                [ngClass]="{'user-msg': msg.sender === 'user', 'ai-msg': msg.sender === 'ai'}">
                <div class="bubble">
                    <span *ngIf="msg.sender === 'user'" style=" font-size: 0.875em;font-family: Arial, sans-serif;" >{{ msg.text }}</span>
                    <pre *ngIf=" msg.sender === 'ai'" style=" font-size: 0.875em;font-family: Arial, sans-serif;" >{{ msg.text }}</pre>
                </div>
            </div>
            <div class="typing-indicator" *ngIf="isTyping">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
 
        <div class="chat-input-area">
            <input pInputText [(ngModel)]="userInput" placeholder="Type a message..." (keydown.enter)="sendMessage()" />
            <button pButton type="button" icon="pi pi-send" (click)="sendMessage()" [disabled]="!userInput"> </button>
        </div>
    </div>
</div>